@charset "UTF-8";

@font-face {
    font-family: FontAndroid;
    src: url(fontes/idroid.otf);
}

/*
PALETA COLORIDA
--cor1:#042940;
--cor2:#005C53;
--cor3:#9FC131;
--cor4:#DBF227;
--cor5:#D6D58E;
*/

/*
PALETA COLORIDA
--cor1:#BD2A2E;
--cor2:#3B3936;
--cor3:#B2BEBF;
--cor4:#889C9B;
--cor5:#486966;
*/



/*
PALETA AZUL
    --cor1:#0FC2C0;
    --cor2:#0CABA8;
    --cor3:#008F8C;
    --cor4:#015958;
    --cor5:#023535;
*/

:root {
    --cor1:#BD2A2E;
    --cor2:#3B3936;
    --cor3:#B2BEBF;
    --cor4:#889C9B;
    --cor5:#486966;

    --fonte-padrão: Arial, Verdana, Helveica;
    --fonte-android: FontAndroid, cursive;
}

* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: var(--cor1);
}

#cabeçalho {
    font-family: var(--fonte-padrão)
        width: auto;
        background-image: linear-gradient(to bottom, var(--cor1), var(--cor2),var(--cor3),var(--cor4), var(--cor5)); 
        color: white;
        text-align: center;
        padding: 20px 20px 0px 20px;
        height: auto;
}

#cabeçalho > h1 {
    text-shadow: 2px 2px 10px black;
    padding: 10px;
}

#cabeçalho > p {
    margin: 10px;
}

#menu {
    text-align: left;
}
#menu > a {
    color: var(--cor1);
    text-decoration: none;
    padding: 10px;
}
#menu > a:hover {
    text-decoration: underline;
    color: var(--cor5);
    padding: 5px;
}


main {
    background-color: white;
    margin: auto;
    text-align: center;
    min-width: 300px;
    max-width: 1000px;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.822);
}



article > h1 {
    font-family: var(--fonte-android);
    font-size: 1.5em;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.2em;
} /*Usando essa forma aqui, tu edita os "p" dentro de qualquer nivel de "main", se usar o ">" só funciona se o p tiver imediatamente dentro do "main"*/

.subtitulo {
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor1), white);
}

#caixavideo {
    background-color: var(--cor5);
    margin: 0px -10px;
    padding-bottom:  59%;
    position: relative;
}

#caixavideo > iframe {
position: absolute; /*faz a posicao do video ser absoluto, dai a gente consegue mexer na posicao e na porcentagem do tamano deles*/
top: 5%;
right: 5%; /*top e right é pra mover o video*/
width: 90%;
height: 90%; /* width e height é pra "forçar" o video mudar de tamanho conforme aumenta e diminui a tela*/


}

#extra {
    background-color: var(--cor2);
    margin: 10px;
    border-radius: 10px;
    padding-bottom: 5px;
    box-shadow: 2px 2px 5px black;
}

#extra > header {
    background-color: var(--cor5);
    color: white;
    text-align: left;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
}

#extra > ul {
    list-style-position: inside;
    list-style-type: "\1F5F8";
    columns: 2;
}

footer {
    background-color:var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.9em;
    
}

aside{
    width: 100%;
}

.imgpequena {
    max-width: 350px;
}